# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]
*$py.class

*.egg-info/
dist/
build/


# =====================================
# Ambientes virtuais
# =====================================

.venv/
venv/
env/


# =====================================
# Mininet
# =====================================

*.log

mnexec*

*.pid


# =====================================
# Certificados gerados
# =====================================

certificates/*.key
certificates/*.crt
certificates/*.pem


# =====================================
# Arquivos temporários
# =====================================

*.tmp
*.swp
*.bak


# =====================================
# IDEs
# =====================================

.vscode/
.idea/


# =====================================
# Sistema operacional
# =====================================

.DS_Store
Thumbs.db


# =====================================
# Relatórios gerados
# =====================================

reports_logs/*.txt
reports_logs/*.json
reports_logs/*.csv